<div class="main">
  <p>Your department: {{myDepartmentName}}</p>
  <form>
    <label for="department">Choose my department: </label>
    <input type="checkbox" id="department" name="department" [(ngModel)]="myDepartment">

    <select *ngIf="myDepartment; else allDepts" [(ngModel)]="disSelected" name="dis">
      <option>---</option>
      <option  *ngFor="let discipline of filterDisciplines()"
               [value] = 'discipline.name'
      >{{discipline.name}}</option>
    </select>
    <button type="button" (click)="toggler()">Select</button>


    <ng-template #allDepts>
      <select name = "dis" [(ngModel)]="disSelected">
        <option>---</option>
        <option  *ngFor="let discipline of disciplines"
                 [value] = 'discipline.name'
        >{{discipline.name}}</option>
      </select>
    </ng-template>

  </form>

  <div class="information" id="information" *ngIf="toggle">
    <div *ngFor="let discipline of showInfo()">
      <p>{{noneSelected}}</p>
      <p>Id: {{discipline.id}}</p>
      <p>Name: {{discipline.name}}</p>
      <p>Department: {{discipline.department}}</p>
      <p>Credits: {{discipline.credits}}</p>
      <p>Information: {{discipline.information}}</p>
    </div>
  </div>

</div>

